<ng-container *ngIf="days$ | async as calendar">
  <div class="calendar-title__wrapper">
    <div *ngFor="let day of calendarDays" class="calendar-title">
      {{ day }}
    </div>
  </div>
  <div class="calendar__wrapper">
    <div
      *ngFor="let day of calendar.days"
      class="calendar-day"
      [ngClass]="getNonCurrentMonthClass(day.date, calendar.month)"
    >
      <div class="calendar">
        <div class="calendar-day-title__wrapper">
          <clr-tooltip class="calendar-day-title-number">
            <div
              clrTooltipTrigger
              [ngClass]="getCurrentDateClass(day.date)"
              class="calendar-day-number"
            >
              <span>{{ day.date | date: "d" }}</span>
            </div>
            <clr-tooltip-content
              clrPosition="top-right"
              clrSize="sm"
              *clrIfOpen
            >
              <span>{{ day.date | date }}</span>
            </clr-tooltip-content>
          </clr-tooltip>
        </div>
        <div class="calendar-day-content__wrapper">
          <span *ngFor="let event of day.events">{{ event.title }}</span>
        </div>
      </div>
    </div>
  </div>
</ng-container>
