.calendar__wrapper,
.calendar-title__wrapper {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 90%;
}

.calendar__wrapper {
  height: 60vh;
  border: 1px solid #ccc;
}

.calendar-day {
  border: 1px solid #ccc;
}

.calendar-day,
.calendar-title {
  height: 100%;
  width: 100%;
}

.calendar-title {
  border: 1px solid #666;
  background-color: #666;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px;
}

.non-current-month {
  background-color: #eee;
}

.calendar-day {
  padding: 1em;
}

.calendar {
  position: relative;
}

.calendar-day-title-number {
  // text-align: right;
  // padding-left: 1em;
  // padding-top: 1em;
}

.calendar-day-title__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calendar-day-content__wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

.current-day {
  font-weight: bold;
  color: red;
  // background-color: #eee;
  // padding: 10px;
  // clip-path: circle();
}

.calendar-day-number {
  position: relative;
}
