@import "globals";

.connections-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
  margin-right: 50px;
}

.empty-contact-list {
  margin-top: 60px;
  background-color: #fef3cd;
  border: 1px solid #fdedba;
  padding: 3px;
  width: 50vw;
}

@media (max-width: $breakpoint-desktop) {
  .connections-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: $breakpoint-tablet) {
  .connections-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
