<div>
  <div
    *ngIf="success"
    class="alert alert-success"
    style="width: 70vw"
    role="alert"
  >
    <div class="alert-items">
      <div class="alert-item static">
        <div class="alert-icon-wrapper">
          <clr-icon class="alert-icon" shape="check-circle"></clr-icon>
        </div>
        <span class="alert-text">{{ successMessage }}</span>
      </div>
    </div>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="toggleSuccess()"
    >
      <clr-icon aria-hidden="true" shape="close"></clr-icon>
    </button>
  </div>
  <h1>My Contacts</h1>
  <div class="connections-wrapper" *ngIf="contacts$ | async as contacts">
    <app-connection
      *ngFor="let contact of contacts"
      [contact]="contact"
      (deleteContact)="deleteContact($event)"
      [@fadeInOut]
    >
    </app-connection>
    <p *ngIf="contacts.length === 0">Please add some contacts</p>
  </div>
</div>
