.events__wrapper {
  margin-top: 30px;
}

.events-box__wrapper {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  background-color: #fff;
  margin-top: 20px;
}

.date-overdue {
  color: #cc725c;
  font-style: italic;
}

.card-overdue {
  background-color: #fafafa;
}
