/* You can add global styles to this file, and also import other style files */

// html {
//   font-size: 26px;
// }

body {
  overflow-y: hidden;
}

router-outlet ~ * {
  position: absolute;
  height: calc(100% - 1rem);
  width: calc(100% - 1rem);
}

.top-header {
  margin-top: 0;
}
