<div class="events-wrapper">
  <h1>My Events</h1>
  <div *ngIf="currentEvents$ | async as currentEvents" class="events__wrapper">
    <app-list-event
      *ngFor="let event of currentEvents"
      [event]="event"
    ></app-list-event>
  </div>

  <div class="overdue-title-wrapper">
    <h2>Overdue</h2>
    <button (click)="toggleOverdue()" class="btn btn-link">
      {{ overdueHidden ? "Show" : "Hide" }}
      <clr-icon shape="caret" [dir]="overdueHidden ? 'down' : 'up'"></clr-icon>
    </button>
  </div>

  <div
    *ngIf="!overdueHidden && (overdueEvents$ | async) as overdueEvents"
    class="events__wrapper"
  >
    <app-list-event
      *ngFor="let event of overdueEvents"
      [event]="event"
      [overdue]="true"
    ></app-list-event>
  </div>
</div>
