<div *ngIf="calendar$ | async as calendar; else loading">
  <button
    type="button"
    class="btn btn-icon"
    (click)="emitMonthChange(-1, calendar.year, calendar.month)"
  >
    <clr-icon shape="caret left"></clr-icon>
  </button>
  <button
    type="button"
    class="btn btn-icon"
    (click)="emitMonthChange(1, calendar.year, calendar.month)"
  >
    <clr-icon shape="caret right"></clr-icon>
  </button>
  <button
    type="button"
    class="btn btn-primary btn-icon"
    (click)="showAddEvent = !showAddEvent"
  >
    <clr-icon shape="plus"></clr-icon>
  </button>
  <app-add-event-modal
    [showAddEvent]="showAddEvent"
    [events]="calendar.events"
  ></app-add-event-modal>
</div>
<ng-template #loading>
  <div>Loading ...</div>
</ng-template>
