<div class="login-wrapper">
  <div *ngIf="submitted">
    <h3>Welcome, Gabor!</h3>
  </div>
  <form *ngIf="!submitted" class="login" (ngSubmit)="onSubmit()">
    <section class="title">
      <h1 class="welcome">Login Page</h1>
      <h5 class="hint">Use your account to sign in or create one now</h5>
    </section>
    <div class="login-group">
      <clr-input-container>
        <input type="text" name="username" clrInput placeholder="Username" style="width: 100%" [(ngModel)]="form.username"/>
      </clr-input-container>
      <clr-password-container>
        <input type="password" name="password" clrPassword placeholder="Password" [(ngModel)]="form.password"/>
      </clr-password-container>
      <clr-checkbox-wrapper>
        <label>Remember me</label>
        <input type="checkbox" name="rememberMe" clrCheckbox [(ngModel)]="form.rememberMe"/>
      </clr-checkbox-wrapper>
      <div *ngIf="success == false" class="error active">
        {{ error }}
      </div>
      <div *ngIf="success == true" class="success active">
        Successfully logged in!
      </div>
      <button type="submit" class="btn btn-primary">Log In</button>
      <a href="javascript://" class="signup">Sign up for an account</a>
    </div>
  </form>
</div>