<section class="sidenav-content">
  <section class="nav-group">
    <input id="tabexample2" type="checkbox" />
    <label for="tabexample2">My Connections</label>
    <ul class="nav-list">
      <li>
        <a
          routerLink="/contacts"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          class="nav-link"
        >
          View Contacts
        </a>
      </li>
      <li>
        <a
          routerLink="/contacts/add"
          routerLinkActive="active"
          class="nav-link"
        >
          Add New Contact
        </a>
      </li>
      <li>
        <a routerLink="/company" routerLinkActive="active" class="nav-link">
          Search By Company
        </a>
      </li>
      <li>
        <a
          routerLink="/contacts/notes"
          routerLinkActive="active"
          class="nav-link"
        >
          View Notes
        </a>
      </li>
      <li>
        <a routerLink="/reminders" routerLinkActive="active" class="nav-link">
          Reminders
        </a>
      </li>
    </ul>
  </section>
  <section class="nav-group">
    <input id="tabexample2" type="checkbox" />
    <label for="tabexample2">My Events</label>
    <ul class="nav-list">
      <li>
        <a routerLink="/events" routerLinkActive="active" class="nav-link">
          View Events
        </a>
      </li>
    </ul>
  </section>
  <section class="nav-group">
    <input id="tabexample2" type="checkbox" />
    <label for="tabexample2">Job Search</label>
    <ul class="nav-list">
      <li>
        <a routerLink="/jobs/board" routerLinkActive="active" class="nav-link">
          View Application Board
        </a>
      </li>
    </ul>
  </section>
</section>
