<div class="card user-note">
  <div class="card-header note-header">
    <span
      >Note for {{ userNote.user.first_name }}
      {{ userNote.user.last_name }}</span
    >
    <clr-icon shape="ellipsis-horizontal" class="context-menu-icon"></clr-icon>
  </div>
  <div class="card-block">
    <div class="card-media-block">
      <img src="{{ userNote.user.imageUrl }}" class="card-media-image" />
      <div class="card-media-description">
        <span class="card-media-title">
          {{ userNote.user.job_title }}
        </span>
        <span class="card-media-text">
          {{ userNote.user.company }}
        </span>
      </div>
    </div>
    <div class="card-text">
      {{ userNote.note.note }}
    </div>
  </div>
  <div class="card-footer">
    <button
      [routerLink]="['/contacts/list', userNote.user.github]"
      class="btn btn-sm btn-primary"
    >
      View User
    </button>
    <button (click)="deleteNote()" class="btn btn-sm btn-danger">
      Delete Note
    </button>
  </div>
</div>
