@import "mixins";

.user-note {
  width: 40vw;
}

.clr-textarea-wrapper {
  width: 100%;
}

.note-header {
  @include spaceBetween;
}

.context-menu-icon {
  cursor: pointer;

  &:hover {
    fill: #0095d3;
  }
}
