<section class="sidenav-content">
  <!-- <a routerLink="/contacts" routerLinkActive="active" class="nav-link active">
    Recent Contacts
  </a>
  <a routerLink="/company" routerLinkActive="active" class="nav-link">
    Search By Company
  </a>
  <section class="nav-group collapsible">
    <input id="tabexample1" type="checkbox">
    <label for="tabexample1">Collapsible Nav Element</label>
    <ul class="nav-list">
      <li><a class="nav-link">Link 1</a></li>
      <li><a class="nav-link">Link 2</a></li>
    </ul>
  </section> -->
  <section class="nav-group">
    <input id="tabexample2" type="checkbox" />
    <label for="tabexample2">My Connections</label>
    <ul class="nav-list">
      <li>
        <a
          routerLink="/contacts/list"
          routerLinkActive="active"
          class="nav-link"
          >View Contacts</a
        >
      </li>
      <li>
        <a routerLink="/contacts/add" routerLinkActive="active" class="nav-link"
          >Add New Contact</a
        >
      </li>
      <li>
        <a routerLink="/company" routerLinkActive="active" class="nav-link"
          >Search By Company</a
        >
      </li>
      <li>
        <a routerLink="/notes" routerLinkActive="active" class="nav-link"
          >View Notes</a
        >
      </li>
      <li>
        <a routerLink="/reminders" routerLinkActive="active" class="nav-link"
          >Reminders</a
        >
      </li>
      <li>
        <a routerLink="/events" routerLinkActive="active" class="nav-link"
          >Events</a
        >
      </li>
    </ul>
  </section>
</section>
